.resizable {
    position: relative;
    overflow: hidden;
}
.resizer {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: se-resize;
    margin: 0 5px 5px 0;
    border-bottom: solid 2px #333;
    border-right: solid 2px #333;
}

.resizerX {
    position: absolute;
    top: 0;
    right: 0;
    cursor: ew-resize;
}
.resizerY {
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: ns-resize;
}
