$darkGray: rgb(200, 200, 200);
$lightGray: rgb(230, 230, 230);
$lightBlue: #cae5f8;

.menuOverlay {
    background-color: $lightGray;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    .menuWrapper {
        height: 100%;
        border-radius: 10px;
        display: grid;
        grid-template-rows: min-content;
        .menuHeader {
            padding: 0 10px;
            margin-bottom: 10px;
            border-radius: 10px 10px 0 0;
            height: 40px;
            background-color: $darkGray;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
        }
        .menuBody {
            height: 100%;
            overflow: scroll;
            padding: 0 10px;
            .form {
                display: flex;
                flex-direction: column;
                margin: auto;

                .formSelector {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 10px;
                    text-align: left;
                }
                #formActionBtn {
                    height: 30px;
                    border: none;
                    border-radius: 4px;
                    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
                    background-color: $lightBlue;
                    font-size: 1em;
                    cursor: pointer;
                }
            }
        }
        .menuBody::-webkit-scrollbar {
            width: 4px;
            height: 0px;
        }
        .menuBody::-webkit-scrollbar-track {
            background: $lightGray;
        }
        .menuBody::-webkit-scrollbar-thumb {
            background: $darkGray;
        }
        .menuBody::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }
    .menuWrapperClose {
        border-radius: 10px;
    }
}
